/* imports */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/* resets */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* variables */
:root {
  /* primary color palette */
  --black-color: #161a30;
  --black-secondary-color: #31304d;
  --white-color: #dadada;
  --grey-color: #b6bbc4;
  --white-secondary-color: #f0ece5;
  /* secondary color palette */
  --secondary-color1: #292632;
  --secondary-color2: #5c5470;
  --secondary-color3: #b9b4c7;
  --secondary-color4: #faf0e6;
  /* highlights */
  --red-color: #cf6679;
  --green-color: #2ea44f;
  /* font colors */
  --font-color1: #fff9f9;
  --font-color2: rgb(23, 22, 29);
  /* sizing */
  --xsm-font-size: 10px;
  --sm-font-size: 16px;
  --md-font-size: 24px;
  --lg-font-size: 32px;
  --xl-font-size: 48px;
  --sm-padding: 4px;
  --md-padding: 8px;
  --lg-padding: 16px;
  --xl-padding: 32px;
  --sm-radius: 4px;
  --md-radius: 8px;
  --circle-radius: 50%;
}

/* defaults */
body {
  font-size: var(--sm-font-size);
  color: var(--font-color2);
  background-color: var(--black-secondary-color);
  font-family: 'PT Serif', sans-serif;
}

/* layout */
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px minmax(100vh, 100%) 300px;
}

header,
footer {
  background-color: var(--black-color);
}

footer {
  padding-bottom: 100px;
}

.footer__wrapper {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  bottom: 20px;
  position: fixed;
  z-index: 1;
  justify-self: center;
}

/* navigator */
.nav__wrapper {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  border-radius: 300px;
  background-color: var(--grey-color);
  transition: all 0.3s;
}

.nav__wrapper button {
  display: flex;
  height: 60px;
  width: 60px;
  align-items: center;
  font-size: var(--xl-font-size);
  justify-content: center;
  padding: var(--xl-padding);
  border-radius: var(--circle-radius);
  border: none;
  background-color: var(--grey-color);
  cursor: pointer;
  transition: all 0.3s;
}

#searchBook {
  font-size: 40px;
}

.nav__wrapper button:hover {
  background-color: var(--secondary-color2);
  color: var(--grey-color);
}

.nav__wrapper button:active {
  transform: scale(0.8);
}

#scrollUp {
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
}

#scrollUp.show {
  display: flex;
  opacity: 1;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color1);
}

header h1 {
  font-size: var(--xl-font-size);
  cursor: pointer;
  transition: transform 0.1s;
}

header h1:hover {
  transform: scale(1.01);
}

/* main */
main {
  padding: var(--xl-padding);
}

.main__wrapper {
  height: 100%;
  position: relative;
}

.main__bookshelf,
.main__favorites,
.main__search-results {
  height: 100%;
  animation: fadeIn ease-in 0.3s;
}

.main__bookshelf,
.main__favorites,
.main__search-results {
  display: flex;
  height: 80%;
  flex-direction: column;
  align-items: center;
  color: var(--font-color1);
}

.bookshelf-container,
.favorites-container,
.results-container {
  display: none;
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: var(--xl-padding);
  height: 100%;
  width: 100%;
  overflow: auto;
}

.favorites-container {
  width: 100%;
}

.book {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: var(--lg-padding);
  width: 250px;
  height: 300px;
  background-color: var(--secondary-color1);
  border-radius: var(--md-radius);
  overflow-x: auto;
}

.book-titles {
  font-size: var(--md-font-size);
}

.book-titles,
.book-authors {
  word-wrap: break-word;
}

.book-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteBtn {
  color: var(--red-color);
}

.deleteBtn:hover,
.isFavorite:hover,
.readToggler:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.bookshelf-empty,
.favorites-empty,
.search-results-empty {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--secondary-color2);
  font-size: var(--xl-font-size);
  text-align: center;
}

.main__favorites {
  display: none;
  align-items: center;
  justify-content: center;
}

.main__search-results {
  display: none;
  align-items: center;
  justify-content: center;
}

.main__bookshelf.hide {
  display: none;
  opacity: 0;
}

.main__favorites.show,
.main__search-results.show {
  display: flex;
  opacity: 1;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#backBtn {
  display: none;
  position: absolute;
  font-size: 64px;
  border-radius: var(--sm-radius);
  padding: var(--sm-padding);
  top: 20px;
  cursor: pointer;
  opacity: 0;
}

#backBtn:hover {
  transform: scale(1.05);
}

#backBtn:active {
  background-color: var(--secondary-color1);
}

#backBtn.show {
  display: flex;
  opacity: 1;
}

/* add book modal */
.add-books {
  display: none;
  top: 50%;
  height: 350px;
  width: 500px;
  padding: var(--lg-padding);
  border-radius: var(--md-radius);
  background-color: var(--white-color);
  z-index: 2;
  animation: fadeIn ease-in 0.3s;
}

.add-books.show {
  display: flex;
}

#add-book-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#add-book-form label {
  color: var(--black-color);
}

#add-book-form input {
  background-color: inherit;
  border: 1px solid;
  border-color: var(--black-color);
  outline: none;
  border-radius: var(--sm-radius);
  color: var(--black-color);
  padding: var(--sm-padding) var(--md-padding);
  font-size: var(--sm-font-size);
}

#add-book-form input[type='text'],
#add-book-form input[type='number'] {
  height: 30px;
}
/* disables the arrow on the number inputs */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.checkboxes {
  display: flex;
  gap: 8px;
  align-items: center;
}

.add-book-buttons {
  text-align: right;
}

.add-book-buttons button {
  padding: var(--md-padding) var(--lg-padding);
  font-size: var(--sm-font-size);
  border-radius: var(--sm-radius);
  cursor: pointer;
  transition: all 0.1s;
}

.add-book-buttons button:hover {
  transform: scale(1.01);
}

.cancelBtn {
  background-color: inherit;
  border: 1px solid var(--black-color);
  color: var(--black-color);
}

#addBookBtn {
  border: none;
  background-color: var(--green-color);
}

/* search modal */

.search-book {
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: var(--md-radius);
  background-color: var(--white-color);
  padding: var(--sm-padding);
  gap: 8px;
  top: 75%;
  height: 50px;
  width: 500px;
  opacity: 1;
  animation: fadeIn ease-in 0.3s;
}

.search-book input {
  height: 100%;
  width: 100%;
  border: 1px solid var(--black-secondary-color);
  padding: var(--sm-padding) var(--md-padding);
  outline: none;
  font-size: var(--md-font-size);
  background-color: inherit;
  border-radius: var(--md-radius);
  color: var(--secondary-color1);
}

.search-book.show {
  display: flex;
  opacity: 1;
}

#searchBtn {
  border: none;
  background-color: var(--green-color);
  height: 100%;
  width: 80px;
  border-radius: var(--md-radius);
  cursor: pointer;
  transition: transform 0.1s;
}

#searchBtn:hover {
  transform: scale(1.05);
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* media queries */
@media (max-width: 1200px) {
  .favorites-empty,
  .bookshelf-empty,
  .search-results-empty {
    font-size: var(--lg-font-size);
  }

  .bookshelf-container,
  .favorites-container,
  .results-container {
    grid-template-columns: repeat(3, 250px);
  }
}

@media (max-width: 992px) {
  .bookshelf-container,
  .favorites-container,
  .results-container {
    grid-template-columns: repeat(2, 250px);
  }
}

@media (max-width: 768px) {
  .nav__wrapper {
    height: 60px;
    border-radius: 300px;
    background-color: var(--grey-color);
  }

  .nav__wrapper button {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    font-size: var(--lg-font-size);
    justify-content: center;
    padding: var(--lg-padding);
    transition: all 0.3s;
  }

  #searchBook {
    font-size: 20px;
  }

  .nav__wrapper button:hover {
    background-color: var(--secondary-color2);
    color: var(--grey-color);
  }

  .nav__wrapper button:active {
    transform: scale(0.8);
  }

  .favorites-empty,
  .bookshelf-empty,
  .search-results-empty {
    font-size: var(--md-font-size);
  }
}

@media (max-width: 650px) {
  header h1 {
    font-size: var(--lg-font-size);
  }

  .bookshelf-container,
  .favorites-container,
  .results-container {
    grid-template-columns: 250px;
  }

  .favorites-empty,
  .bookshelf-empty,
  .search-results-empty {
    font-size: var(--sm-font-size);
  }

  #backBtn {
    font-size: var(--xl-font-size);
    top: 100px;
  }

  .add-books {
    height: 280px;
    width: 300px;
    z-index: 2;
  }

  .add-book-buttons {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  .add-book-buttons button {
    padding: var(--sm-padding) var(--md-padding);
    font-size: var(--sm-font-size);
  }

  .search-book {
    height: 50px;
    width: 280px;
  }
}
